@import "tailwindcss" important;

.custom-fullscreen-drawer {
  width: 100% !important;
}

.mui-q7mezt {
  margin-top: 18px !important;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
