@import "tailwindcss" important;

.custom-fullscreen-drawer {
  width: 100% !important;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (min-width: 1800px) {
  .mt-1800 {
    margin-top: 0px;
  }
}